@model RFP_05_12.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Importado" /> @Html.DisplayNameFor(model => model.Importado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Revenda" /> @Html.DisplayNameFor(model => model.Revenda)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Publico" /> @Html.DisplayNameFor(model => model.Publico)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Especs" class="control-label"></label>
                <input asp-for="Especs" class="form-control" />
                <span asp-validation-for="Especs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
